@page "/Prestamo/Index"

@inject PrestamosService prestamosService
@inject NavigationManager navigationManager

<PageTitle>Registro de  Pretamos</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header space-between">
			<h5 class="card-title">Registro de Prestamos</h5>
			<a href="/Prestamo/Create" class="btn btn-primary"><span class="bi bi-plus-square mt-3"></span>Crear</a>
		</div>
		<div class="card-body">
			<div class="row">

			</div>

			<div class="row align-items-center">

			</div>
		</div>
		<div class="card-footer"></div>
	</div>
</div>

@code {

}
